* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--gray);
}

:root {
  --lightgray: #343a40;
  --gray: #9c9c9c;
  --orange: #ffa94d;
  --darkgray: #495057;
}
